.sobre {
	color: #333;
	line-height: 1.3;
	margin-top: 2em;
	font-size: 1.2em	
}

.sobre h1 {
	font-size: 2em;
	font-weight: 700
}

.sobre-back {
    background-color: #F2F2F2;
    margin-top: 1em;
    border-top: 2px solid #CCC;
}
